* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}

.top-pattern {
  position: absolute;
}
.bottom-pattern {
  position: absolute;
  right: 0;
  bottom: 0;
}

.heading {
  padding: 150px 100px 50px;
}
.second {
  padding: 0 100px 50px;
}
.heading h1 {
  font-weight: 700;
  line-height: 1;
  color: hsl(300, 43%, 22%);
  width: 80%;
}
.heading p {
  font-weight: 400;
  color: hsl(303, 10%, 53%);
  width: 80%;
}
.rate i {
  padding: 0 3px;
  color: orange;
}
.rate p {
  color: hsl(300, 43%, 22%);
  font-size: 14px;
  font-weight: 700;
  background-color: hsl(300, 24%, 96%);
  padding: 17px;
  border-radius: 5px;
  width: 90%;
}
.rate span {
  margin-left: 10px;
}
#secondRate {
  margin-left: 40px;
}
#thirdRate {
  margin-left: 80px;
}

.pattern-mobile {
  visibility: hidden;
}

.comment-card {
  background-color: hsl(300, 43%, 22%);
  color: white;
  padding: 30px;
  border-radius: 10px;
}
.comment-card .profile {
  display: flex;
  align-items: center;
}
.comment-card .profile span {
  display: block;
}
.profile {
  margin-bottom: 35px;
}
.profile-avatar img {
  border-radius: 50%;
  width: 2.5rem;
  margin-right: 20px;
}
.profile-name {
  font-size: 0.9em;
}
.profile-name span {
  color: hsl(333, 80%, 67%);
}


@media (max-width: 768px) {
  .pattern-mobile {
    visibility: visible;
  }
  .pattern-desktop {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .heading h1, .heading p {
    width: 100%;
  }
  #secondRate {
    margin-left: 0;
  }
  #thirdRate {
    margin-left: 0;
  }
  .heading {
    padding: 150px 0 50px;
  }
  .second {
    padding: 0 0 50px;
  }
  .rate p {
    text-align: center;
  }
  .rate span {
    display: inline-block;
  }
  .rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
